<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body class="bg-warning"> 
    <%- include('partials/navbar') %>
    <h1 ><%= name  %></h1>
    <p>fiyat : <%= price %> 
    <% if (isActive) { %>
        <span>端r端n satista</span>
    <% } else {%>
        <span>端r端n satisa kapali</span>
    <% } %>
    </p>
    <img src="/images/<%= imgUrl %>" alt="" width="100">
</body>
</html>